In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Paris', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}

employees = pd.DataFrame(data)
print(employees)

      Name  Age      City  Salary
0    Alice   25    London   60000
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
3    David   28     Paris   70000
4     Emma   32    Sydney   65000

In [26]:
label_positional_based = employees.loc[3:4, ['Name', 'Salary']]
print(label_positional_based)

    Name  Salary
3  David   70000
4   Emma   65000

In [23]:
integer_based = employees.iloc[0:3, :]
print(integer_based)

      Name  Age      City  Salary
0    Alice   25    London   60000
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000

In [25]:
age_filtered = employees[employees['Age'] >= 30]
print(age_filtered)

      Name  Age      City  Salary
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
4     Emma   32    Sydney   65000